<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- My CSS -->
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css"/>
    <title>Dashboard</title>

  <title>Game Dashboard</title>
</head>
<body>
  
    
  <input type="checkbox" id="nav-toggle">
  <div class="sidebar">
      <div class="sidebar-brand">
        <h1> <span class="fab fa-asymmetrik"> </span> <span>Games.flo.id</span>
        </h1>
      </div>
      
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="/dashboard" class="active">
              <span class="fas fa-tachometer-alt"></span>
              <span>Users Data</span>
            </a>
          </li>
          <li>
            <a href="/user/biodata">
              <span class="fas fa-bars" ></span>
              <span>Users Biodata</span>
            </a>
          </li>
          <li>
            <a href="/schedule">
              <span class="fas fa-users"></span>
            <span>All Schedule</span>
            </a>
          </li>
        </ul>

      </div>
  </div>    

  <div class="main-content">
    <header>
      <h2>
        <label for="nav-toggle">
          <span class="fas fa-bars"></span>
        </label>
        Dashboard
      </h2>
      
    </header>

    <main>
      <div class="cards">
        <div class="card-single">
          <div>
            <h1>
              <%= data.length %>
            </h1>
            <span>Customers</span>
          </div>
          <div>
            <span class="fas fa-users"></span>
          </div>
        </div>
              </div>

      <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <h2>Current Users</h2>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table width="100%">
                <thead>
                  <tr>
                    <td>Username</td>
                    <td>Country</td>
                    <td>Status</td>

                  </tr>
                </thead>
                <tbody>
                  <% data.forEach(i=> { %>
                  <tr>
                    <td><%= i.username %></td>
                    <td><%= i.country %></td>
                    <td>
                      <span class="status purple"></span>
                      Active
                    </td>
                    <%})%>
                  </tr>
                  
                  </tr>
               
                </tbody>
                
              </table>
              </div>
            </div>
          </div>

        </div>


              </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>  

    </main>
  </div>


</body>
</html>