<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- My CSS -->
       <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>
<body>
    <link href="//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="form.css" type="text/css">
<div class="body-content">
  <div class="module">
    <h1>Create an account</h1>
    <form action="/register/simpan" method="POST">
      <label>Fullname</label><input name="fullname" type="text" required/>
      <br>
      <label>Country</label><input name="country" type="text" required/><br>
      <label>Email</label><input name="email" type="text" required/><br>
      <label>Username</label><input name="username" type="text" required/><br>
      <label>Password</label><input name="password" type="password" required/><br>

      <button type="submit">Tambah</button>
  </form>
  </div>
</div>
    
</body>
</html>